/node_modules
/public/hot
/public/todo/
/public/images/*
/public/files/*
/public/uploads/*
/public/storage
/public/storage/*
/public/music/*
/public/js/modules
/public/css/addons
/public/js/addons
/public/addons
/public/font
/public/fonts
/public/img
/public/src
/public/scss
/public/css/mdb*
/public/js/mdb*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env